<div class="container w-50">
    <h1>welcome to
      <i class="fas fa-book"></i>
    Bookers !!</h1>
    <p class="text-wrap">in
      <i class="fas fa-book"></i>
    Bookers,<br>
    you can share and exchange your opinions, inpressions, and emotions
    about various books!</p>

  <div class="text-center"><%= link_to "Log in", user_session_path, class: "btn btn-primary w-50 m-1" %></div>
  <div class="text-center"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-success w-50 m-1" %></div>
</div>