<div class="container mx-auto">
<h1>welcome to< Bookers !!</h1>
<p>in Bookers,<br>
you can share and exchange your opinions, inpressions, and emotions<br>
about various books!</p>

<%= link_to "Log in", user_session_path, class: "btn btn-success" %>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
</div>